/* @media (min-width: 357px) {
  .nv-container-left {
      border-radius:2.5%;

  }

  .nv-container-right{
    border-radius:2.5%;

  }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media screen and (max-width: 650px) {
  .nv-container-left {
      border-top-left-radius:2.5%;
      border-bottom-left-radius:2.5%;
  }

  .nv-container-right{
      border-bottom-right-radius:2.5%;
      border-top-right-radius:2.5%;
  }
}
@media (max-width: 900px) {
  .nv-container-left {
      border-top-left-radius:2.5%;
      border-bottom-left-radius:2.5%;
  }

  .nv-container-right{
      border-bottom-right-radius:2.5%;
      border-top-right-radius:2.5%;
  }
} */
a{
	cursor: pointer;
}
.nv-text-mustard{
	color: #2f3640;
}
.nv-swal-message-holder h5{
	color: gray;
}
.nv-btn-txt-mustard {
	background-color: #2f3640;
	color: #fbc531;
}

.nv-btn-txt-mustard:hover {
	color: white;
	background-color: #41474f;
}

.nv-btn-txt-white {
	background-color: #2f3640;
	color: white;
}

.nv-btn-txt-white:hover {
	background-color: #41474f;
	color: #fbc531;
}

.nv-btn-mustard {
	background-color: #fbc531;
	color: #41474f;
}

.nv-btn-mustard:hover {
	background-color: #fbc531;
	color: white;
}


/* .row div{
      padding: 2%;
    } */


.nv-top-left-radius{
  border-top-left-radius:2.5%;
}
.nv-bottom-left-radius{
  border-bottom-left-radius:2.5%;
}

.nv-bottom-right-radius{
  border-bottom-right-radius:2.5%;
}
.nv-top-right-radius{
  border-top-right-radius:2.5%;
}
.nv-input-custom {
	background-color: whitesmoke;
	border: none;
	border-left: 4px solid #fbc531;

}

.nv-input-custom:focus {
	background-color: whitesmoke;
	border: none;
	border-left: 4px solid #fbc531;
	color: none;
	outline: ;
	box-shadow: none;
}

.nv-input-custom::placeholder {
	opacity: 0.3;
}

.nv-text-mustard {
	color: #fbc531;
}


.nv-bg-mustard{
  background-color: #fbc531;
}
.nv-bg-dark{
  background-color: #2f3640;
  color: white;
}

.nv-dot-dark {
  height: 50px;
  width: 50px;
  background-color: #2f3640;
  border-radius: 50%;
  display: inline-block;
}
.nv-dot-mustard {
  height: 50px;
  width: 50px;
  background-color: #fbc531;
  border-radius: 50%;
  display: inline-block;
}
.nv-mustard-divider{
  border-bottom:#fbc531 7px solid;border-radius:5px;

}
.nv-line-divider{
    border-bottom:lightgrey 1px solid;
}
.nv-input-icon-plain{
  padding:2px;background-color:white;border:none;
}

.nv-horizontal-center {
  float:none;
  margin:0 auto;
}

.nv-login-form label{
  margin-left:35px;
}
.nv-login-form .fa {
  font-size: 1.8em;
  padding-right: 10px;
}
.nv-login-form input{
  border: 1.5px solid #fbde8e;

}
.loader-icon{
	font-size:70px;
	color:#000;
	animation: scale 3s ease infinite;
}

@keyframes scale {
 0% {transform: rotateZ(0deg);transform: rotateY(0deg);}
 50% {transform: rotateZ(360deg);transform:rotateY(360deg);}
 100% {transform: rotateZ(0deg);transform:rotateY(0deg);}
}
[v-cloak] { display: none; }
