.ui-datepicker {
	font: 15pt !important;
	background-color: #2f3640 !important;
	padding: 1% !important;
	color: white !important;
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

.ui-datepicker table {
	width: 100% !important;
}

.ui-datepicker-header {
	color: white !important;
}

.ui-datepicker-title {
	text-align: center !important;
	font-size: 15px !important;
}

.ui-datepicker-title span {
	color: white !important;
}

.ui-corner-all span {
	color: white !important;
	font-size: 1.6em !important;
}

.ui-datepicker-prev {
	float: left !important;
	cursor: pointer !important;
	background-position: center -30px !important;
}

.ui-datepicker-next {
	float: right !important;
	cursor: pointer !important;
	background-position: center 0px !important;
}

.ui-datepicker thead {
	/* background-color: #f7f7f7; */
}

.ui-datepicker th {
	text-transform: uppercase !important;
	font-size: 8pt !important;
	color: #666666 !important;
	/*text-shadow: 1px 0px 0px #fff;*/
	/*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
	padding: 0 !important;
	/*border-right: 1px solid #808080;*/
}

.ui-datepicker tbody td:last-child {
	border-right: 0px !important;
}

.ui-datepicker tbody tr {}

.ui-datepicker tbody tr:last-child {
	border-bottom: 0px !important;
}

.ui-datepicker a {
	text-decoration: none !important;
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: inline-block !important;
	/*font-weight: bold;*/
	text-align: center !important;
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	color: #ffffff !important;
	/*text-shadow: 1px 1px 0px #fff;*/
	/*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
	background: #f0b70b !important;
	color: #ffffff !important;
	width: 40px !important;
	margin: 1.5px !important;
	font-size: 1.5em !important;
}

.ui-datepicker-calendar .ui-state-hover {
	background: #e7b212 !important;
	color: #FFFFFF !important;
}

.ui-datepicker-calendar .ui-state-active {
	background: #d4a30f !important;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1) !important;
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1) !important;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1) !important;
	color: #e0e0e0 !important;
	text-shadow: 0px 1px 0px #4d7a85 !important;
	border: 1px solid #55838f !important;
	position: relative !important;
	margin: -1px !important;
}

.ui-datepicker-unselectable .ui-state-default {
	background: #3c4147 !important;
	color: #515860 !important;
}
/* datepicker override */
