.nv-jo-content .nv-header{
  text-decoration: underline;
}
.nv-jo-content .nv-table > tbody > tr > td > input{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline:0;
  line-height: 1rem;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
}

.nv-jo-content .nv-table > tbody > tr > td > input:focus{
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
}


.nv-jo-content .nv-table > tbody > tr > td > input::placeholder{
  color: rgba(0,0,0,.3);
font-family: 'Myriad Pro Condensed';
}

.nv-jo-content .nv-table > tbody > tr > td.nv-actions{
  position: relative;
  padding: 0;
vertical-align: middle;
}

.nv-jo-content .nv-table > tbody > tr > td.nv-actions > a{
  margin: .75rem;
}
