*{
  font-family: eDefault;
}
.e-font-default{
  font-family: eDefault;
}
.e-font-count{
  font-family: eCount;
}
.e-font-heading-bold{
  font-family: eHeadingBold;
}
.e-font-heading-light{
  font-family: eHeadingLight;
}
